.marker {
  font-family: Permanent Marker;
  color: #FFF01A;
}

a {
  &:hover {
    color: #002F3C;
  }
}

.portrait {
  border: solid #FFF01A 5px;
  border-radius: 100px;
  transform: rotate(-20deg);
}

input {
  border: solid #FFF01A;
  color: white;
  width: 380px;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

.hero {
  background: url('../images/top-bg.svg') #000 bottom no-repeat;
  background-size: 100%;
  height: 345px;
}

.post-container {
  background: url('../images/bottom-bg.svg') #000 bottom no-repeat;
  background-size: 100%;
  height: 589px;
}

.search-results {
  left: 269px;
  top: 35px;
  z-index: 101;
  border: solid #FFF01A;
  a {
    &:hover {
      color: #002F3C;
    }
  }
}

.twitter {
  bottom: 110px;
  left: 90px;
}

.facebook {
  bottom: 120px;
  left: 525px;
}

.github {
  top: -45px;
  right: 600px;
}

.newsletter {
  bottom: 125px;
  right: 175px;
}

.yellow {
  color: #FFF01A;
}

.yellow-bg {
  top: 0;
  left: 382px;
}

.latest-heading {
  z-index: 100;
  top: -60px;
  right: 455px;
  transform: rotate(-5deg);
}

.dark-blue {
  background: #002F3C;
}

.pagination {
  a {
    margin: 0 45px;
  }
}


@media (max-width: 1080px) {
  .latest-heading {
    right: 155px;
  }

  .yellow-bg {
    left: 70px;
  }

  .post-container {
    height: 374px;
  }

  .search-results {
    left: 113px;
  }

  .twitter {
    bottom: 70px;
  }

  .facebook {
    left: 350px;
  }

  .github {
    top: 65px;
    right: 350px;
  }

  .newsletter {
    bottom: 80px;
    right: 100px;
  }
}

@media (max-width: 768px) {
  .latest-heading {
    right: 155px;
  }

  .yellow-bg {
    display: none;
  }

  .post-container {
    height: 266px;
  }

  .search-results {
    left: 180px;
  }

  .twitter {
    bottom: 40px;
  }

  .facebook {
    left: 250px;
    bottom: 80px;
  }

  .github {
    top: 140px;
    right: 300px;
  }

  .newsletter {
    bottom: 70px;
    right: 60px;
  }
}

@media (max-width: 414px) {
  .hero {
    margin-top: 125px;
    height: 200px;
  }

  .post-container {
    height: 266px;
    background: #002F3C;
  }

  .search-results {
    left: 0;
    width: 100%;

    a {
      margin: 15px 0;
    }
  }

  .twitter {
    margin: 0 0 0 15px;
  }

  .facebook {
    margin: 0 15px;
  }

  .github {
    margin: 0 15px;
  }

  .newsletter {
    margin: 0 15px 0 0;
  }

  .pagination {
    a {
      margin: 0 15px;
    }
  }
}
